*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: linear-gradient(to right,#1a1a1a 30%, #fff 30% );
    font-family: 'Noto Serif';
}

#app{
    padding: 0 80px;
}

.produtos{
    margin: 100px auto 0 auto;
}

.produto{
    display: flex;
    max-width: 900px;
    align-items: center;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.produto_img{
    max-width: 300px;
    margin-right: 40px;
}
.produto_nome{
    font-size: 3rem;
    line-height: 1;
}
.produto_preco{
    color: rgba(0, 0, 0, 0.5);
}